<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cep.proj2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="CEPSports"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Activity_Actividades"
            android:label="@string/title_activity__actividades"
            android:theme="@style/NoActionBar"></activity>
        <activity
            android:name=".Activities.Login"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".Activities.MenuDesplegableActivity"
            android:icon="@drawable/logocsp"
            android:label="MenuDesplegableActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Activities.Splash"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.Registro" />
        <activity android:name=".Activities.Activity_Mapa" />
        <activity android:name=".Activities.ActivityEntidades" />
        <activity android:name=".ModificarEntidad" />
    </application>

</manifest>